<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../static/css/indexStyle.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/login.css">
    <title>Free Flight</title>
</head>
<body>
    <!-- Header -->
    <div id="header">
        <div class="logo-container">
            <div class="logo-text">FreeFlight</div>
            <div class="logo-circle"></div>
        </div>
        <div class="header-item-container">
            <div class="header-item">
                <div class="header-item-text">Flights</div>
            </div>
            <div class="header-item">
                <div class="header-item-text">Hotels</div>
            </div>
            <div class="header-item">
                <div class="header-item-text">Packages</div>
            </div>
            <div class="header-item">
                <div class="header-item-text">Sign in</div>
            </div>
            <div class="header-item prominent">
                <div class="header-item-text prominent-text">Sign up</div>
            </div>
        </div>
    </div>
    <!--end Header-->

    <!--    background-->
    <div class="background">
        <div class="background-img-wrapper">
            <img class="background-img" src="../../static/images/WorldMap.png" />
        </div>
    </div>
    <!--    end background-->


    <div class="register-positioner">
        <div class="signin-shadow-box"></div>
        <div class="signin-container">
            <div class="signin-img-container">
                <span class="signin-text"> Welcome<br/> Aboard</span>
            </div>
        </div>

        <div class="header-text register">Create Account</div>
        <form>
            <div class="linear-layout">
                <div class="register-input">
                    <div class="input-style">
                        <input class="signin-input" type="text"  placeholder="Full name">
                    </div>
                </div>

                <div class="register-input">
                    <div class="input-style">
                        <input class="signin-input" type="email"  placeholder="Email">
                    </div>
                </div>

                <div class="register-input">
                    <div class="input-style">
                        <input class="signin-input" type="text"  placeholder="Phone">
                    </div>
                </div>

                <div class="register-input">
                    <div class="input-style">
                        <input class="signin-input" type="password"  placeholder="Password">
                    </div>
                </div>

                <div class="register-input">
                    <div class="input-style">
                        <input class="signin-input" type="password"  placeholder="Confirm password">
                    </div>
                </div>
            </div>

<!--            <div class="input-wrapper">-->
<!--                <div class="input-style">-->
<!--                    <input class="signin-input" type="text"  placeholder="Username">-->
<!--                </div>-->
<!--            </div>-->


<!--            <div class="input-wrapper-low">-->
<!--                <div class="input-style">-->
<!--                    <input class="signin-input" type="password"  placeholder="Password">-->
<!--                </div>-->
<!--            </div>-->
        </form>



        <div class="signin-button-wrapper">
            <button type="submit" class="signin-button">
                <span class="signin-button-text">Sign in</span>
            </button>
        </div>
    </div>



</body>
</html>