<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
        />
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://kit.fontawesome.com/45f15e8235.js"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
            crossorigin="anonymous"
        ></script>
        <link rel="stylesheet" href="/css/index.css" />
        <link rel="stylesheet" href="/css/utils.css" />
        <link rel="stylesheet" href="/css/booking.css" />
        <link rel="stylesheet" href="/css/booking-review.css" />
        <script
            type="text/javascript"
            src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"
        ></script>
        <script
            type="text/javascript"
            src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"
        ></script>
        <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css"
    />
        <link
            rel="stylesheet"
            type="text/css"
            href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"
        />
        <title>Booking</title>
    </head>
    <body>
        <!-- Navbar -->
        <div th:replace="./fragments/header :: header"> </div>
        <!-- Navbar -->

        <!-- Main -->
        <main class="p-5 row">
            <div class="col-lg-8">
                <nav style="--bs-breadcrumb-divider: '-';" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item active"><i class="bi bi-check-circle-fill me-2"></i>Book</li>
                      <li class="breadcrumb-item active"><i class="bi bi-2-circle-fill me-2"></i>Review</li>
                      <li class="breadcrumb-item"><i class="bi bi-3-circle-fill me-2"></i>Pay</li>
                      <li class="breadcrumb-item"><i class="bi bi-4-circle-fill me-2"></i>E-ticket</li>
                    </ol>
                  </nav>
                <h2>Your booking</h2>
                <h4>Contact details</h4>
                <div th:object="${bookingDetail}" class="item-container mb-3">
                    <div class="fw-bold text-large">Contact details</div>
                    <hr />
                    <div class="row gx-2">
                        <div class="col-6 mb-3">
                            <div class="text-secondary">Contact name</div>
                            <div th:text="*{contactDetail.lastName + ' ' + contactDetail.firstName}" class="">Nguyen Van A</div>
                        </div>
                        <div class="col-6 mb-3">
                            <div class="text-secondary">Phone number</div>
                            <div th:text="*{contactDetail.phoneNumber}" class="">0923456789</div>
                        </div>
                        <div class="col-6 mb-3">
                            <div class="text-secondary">Email</div>
                            <div th:text="*{contactDetail.email}" class="">name@example.com</div>
                        </div>
                    </div>
                </div>
                <h4>Traveler details</h4>
                <div th:each="passenger, iStat : ${bookingDetail.passengerDTOS}" class="item-container mb-3">
                    <div th:text="${#strings.capitalize(passenger.type) + ' ' + (iStat.index+1)}" class="fw-bold text-large">Adult 1</div>
                    <hr />
                    <div class="row gx-2">
                        <div class="col-6 mb-3">
                            <div class="text-secondary">Traveler name</div>
                            <div th:text="${passenger.lastName + ' ' + passenger.firstName}">Nguyen Van B</div>
                        </div>
                        <div class="col-6 mb-3">
                            <div class="text-secondary">Date of birth</div>
                            <div th:text="${#dates.format(passenger.dateOfBirth, 'dd/MM/yyyy')}">01/01/2003</div>
                        </div>
                        <div class="col-6 mb-3">
                            <div class="text-secondary">Nationality</div>
                            <div th:text="${passenger.nationality}">Viet Nam</div>
                        </div>
                    </div>
                </div>
                <h4 id="scroll-here">Flight facilities</h4>
                <div class="item-container mb-3">
                    <div class="d-flex">
                        <div class="fw-bold text-large"><i class="fa-solid fa-suitcase me-2 text-primary"></i>Baggage</div>
                        <a href="" class="ms-auto link-underline link-underline-opacity-0" data-bs-toggle="modal" data-bs-target="#modal-baggage">Select baggage</a>
                    </div>
                    <hr />
                    <div th:object="${bookingDetail}" class="row gx-2">
                        <div th:if="${!bookingDetail.hasExtraBaggage1 && !bookingDetail.hasExtraBaggage1}" class="text-secondary">
                            Why cram your stuff in a carry-on? Add baggage to lighten your load.
                        </div>
                        <div>
                            <div th:if="${bookingDetail.hasExtraBaggage1}">
                                <div th:text="${'1. ' + flight1.flightPlane.flight.departureAirport.city + ' (' + flight1.flightPlane.flight.departureAirport.airportCode + ') → ' + flight1.flightPlane.flight.arrivalAirport.city + ' (' + flight1.flightPlane.flight.arrivalAirport.airportCode + ')'}" class="fw-bold">1. Ho Chi Minh City (SGN) → Ha Noi (HAN)</div>
                                <div th:each="passenger, iStat : ${bookingDetail.passengerDTOS}" class="d-flex">
                                    <div th:text="${passenger.lastName + ' ' + passenger.firstName}" class="text-secondary">Nguyen Van A</div>
                                    <div th:if="${bookingDetail.baggageIds1[iStat.index] == 0}" class="ms-auto">No extra baggage</div>
                                    <div th:if="${bookingDetail.baggageIds1[iStat.index] != 0}" th:text="${baggageList1[iStat.index].weight + 'kg - ' + #numbers.formatDecimal(baggageList1[iStat.index].price, 0, 'POINT', 0, 'POINT') + '₫'}" class="ms-auto">20kg - 200.000 VND</div>
                                </div>
                            </div>
                            <hr th:if="${bookingDetail.hasExtraBaggage1 && bookingDetail.hasExtraBaggage2}">
                            <div th:if="${bookingDetail.hasExtraBaggage2}">
                                <div th:text="${'2. ' + flight2.flightPlane.flight.departureAirport.city + ' (' + flight2.flightPlane.flight.departureAirport.airportCode + ') → ' + flight2.flightPlane.flight.arrivalAirport.city + ' (' + flight2.flightPlane.flight.arrivalAirport.airportCode + ')'}" class="fw-bold">1. Ho Chi Minh City (SGN) → Ha Noi (HAN)</div>
                                <div th:each="passenger, iStat : ${bookingDetail.passengerDTOS}" class="d-flex">
                                    <div th:text="${passenger.lastName + ' ' + passenger.firstName}" class="text-secondary">Nguyen Van A</div>
                                    <div th:if="${bookingDetail.baggageIds2[iStat.index] == 0}" class="ms-auto">No extra baggage</div>
                                    <div th:if="${bookingDetail.baggageIds2[iStat.index] != 0}" th:text="${baggageList2[iStat.index].weight + 'kg - ' + #numbers.formatDecimal(baggageList2[iStat.index].price, 0, 'POINT', 0, 'POINT') + '₫'}" class="ms-auto">20kg - 200.000 VND</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-container mb-3">
                    <div class="d-flex">
                        <div class="fw-bold text-large"><i class="fa-solid fa-couch me-2 text-primary"></i>Seat number</div>
                        <a href="" class="ms-auto link-underline link-underline-opacity-0" data-bs-toggle="modal" data-bs-target="#modal-seat">Select seat</a>
                    </div>
                    <hr />
                    <div class="row gx-2">
                        <div class="text-secondary">
                            Don’t want the middle seat? Secure your seat now!
                        </div>
                        <!-- <div>
                            <div class="fw-bold">1. Ho Chi Minh City (SGN) → Ha Noi (HAN)</div>
                            <div class="d-flex">
                                <div class="text-secondary">Nguyen Van A</div>
                                <div class="ms-auto">5A</div>
                            </div>
                        </div>
                        <hr>
                        <div>
                            <div class="fw-bold">2. Ha Noi (HAN) → Ho Chi Minh City (SGN)</div>
                            <div class="d-flex">
                                <div class="text-secondary">Nguyen Van A</div>
                                <div class="ms-auto">1C</div>
                            </div>
                        </div> -->
                    </div>
                </div>
                <h4>Price details</h4>
                <div class="item-container mb-3">
                    <div class="d-flex">
                        <div class="fw-bold text-large"><i class="fa-solid fa-dollar-sign me-2 text-primary"></i>Total</div>
                        <div class="ms-auto text-larger text-primary fw-bold">5.000.000 VND</div>
                    </div>
                    <hr />
                    <div class="">
                        <div class="d-flex justify-content-between">
                            <div>Vietnam Airlines x2</div>
                            <div class="text-danger">5.000.000 VND</div>
                        </div>
                        <div class="d-flex justify-content-between">
                            <div>+ Baggage to Ho Chi Minh City</div>
                            <div class="text-danger">5.000.000 VND</div>
                        </div>
                        <div class="d-flex justify-content-between">
                            <div>+ Baggage to Ha Noi</div>
                            <div class="text-danger">5.000.000 VND</div>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-end">
                    <button class="btn-primary btn" style="border-radius: 12px !important;">
                        CONTINUE TO PAYMENT
                    </button>
                </div>
            </div>
            <div class="col-lg-4">
                <h2>Your flights</h2>
                <div class="item-container mb-3">
                    <div class="item-content">
                        <div
                                class="flight-item selected d-flex align-content-center"
                        >
                            <div class="icon mx-3">
                                <img
                                        src="/images/flight-departure.png"
                                        alt=""
                                        srcset=""
                                />
                            </div>
                            <div th:object="${flight1}">
                                <div th:text="*{#dates.format(flightPlane.departureDay, 'EEE, dd MMM yyyy')}" class="text-secondary text-smaller">
                                    Thu, 06 Jul 2003
                                </div>
                                <div th:text="*{flightPlane.flight.departureAirport.city + ' → ' + flightPlane.flight.arrivalAirport.city}">Ho Chi Minh City → Hanoi</div>
                            </div>
                        </div>
                        <div th:object="${flight1}" id="chosen-departure-flight" class="flight-chosen">
                            <div class="d-flex mb-2">
                                <div class="logo me-2">
                                    <img th:if="*{flightPlane.flight.flightAirline.equals('Vietnam Airlines')}" src="/images/vietjet-logo.png" alt="" />
                                    <img th:if="*{flightPlane.flight.flightAirline.equals('Vietjet Air')}" src="/images/vna-logo.png" alt="" />
                                </div>
                                <div>
                                    <div th:text="*{flightPlane.flight.flightAirline}" class="fw-bold">Vietnam Airlines</div>
                                    <div th:text="*{flightPlane.plane.planeName}" class="text-secondary">
                                        VN6420 • Eco
                                    </div>
                                </div>
                                <div class="ms-auto">
                                    <span class="text-primary fw-bold" th:text="*{#numbers.formatDecimal(flightPlane.flight.flightPrice, 0, 'POINT', 0, 'POINT') + '₫'}"
                                    >3.999.000₫</span
                                    >
                                    <span class="text-secondary"> / pax</span>
                                </div>
                            </div>

                            <div class="d-flex justify-content-between">
                                <div>
                                    <div th:text="*{flightPlane.flight.departureAirport.airportCode}" class="fw-bold">SGN</div>
                                    <div th:text="*{flightPlane.departureTime.toString().substring(0, 5)}" class="text-secondary">09:00</div>
                                </div>
                                <div class="text-secondary">•</div>
                                <div
                                        class="d-flex flex-column align-items-center"
                                >
                                    <i
                                            class="fa-solid fa-plane text-secondary"
                                    ></i>
                                    <div th:text="*{duration}" class="text-secondary">2h 30m</div>
                                </div>
                                <div  class="text-secondary">•</div>

                                <div class="text-end">
                                    <div th:text="*{flightPlane.flight.arrivalAirport.airportCode}" class="fw-bold">HAN</div>
                                    <div th:text="*{flightPlane.arrivalTime.toString().substring(0, 5)}" class="text-secondary">11:30</div>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="flight-item d-flex align-content-center">
                            <div class="icon mx-3">
                                <img
                                        src="/images/flight-destination.png"
                                        alt=""
                                        srcset=""
                                />
                            </div>
                            <div th:object="${flight2}">
                                <div th:text="*{#dates.format(flightPlane.departureDay, 'EEE, dd MMM yyyy')}" class="text-secondary text-smaller">
                                    Thu, 06 Jul 2003
                                </div>
                                <div th:text="*{flightPlane.flight.departureAirport.city + ' → ' + flightPlane.flight.arrivalAirport.city}">Ho Chi Minh City → Hanoi</div>
                            </div>
                        </div>
                        <div th:object="${flight2}" id="chosen-departure-flight" class="flight-chosen">
                            <div class="d-flex mb-2">
                                <div class="logo me-2">
                                    <img th:if="*{flightPlane.flight.flightAirline.equals('Vietnam Airlines')}" src="/images/vietjet-logo.png" alt="" />
                                    <img th:if="*{flightPlane.flight.flightAirline.equals('Vietjet Air')}" src="/images/vna-logo.png" alt="" />
                                </div>
                                <div>
                                    <div th:text="*{flightPlane.flight.flightAirline}" class="fw-bold">Vietnam Airlines</div>
                                    <div th:text="*{flightPlane.plane.planeName}" class="text-secondary">
                                        VN6420 • Eco
                                    </div>
                                </div>
                                <div class="ms-auto">
                                    <span class="text-primary fw-bold" th:text="*{#numbers.formatDecimal(flightPlane.flight.flightPrice, 0, 'POINT', 0, 'POINT') + '₫'}"
                                    >3.999.000₫</span
                                    >
                                    <span class="text-secondary"> / pax</span>
                                </div>
                            </div>

                            <div class="d-flex justify-content-between">
                                <div>
                                    <div th:text="*{flightPlane.flight.departureAirport.airportCode}" class="fw-bold">SGN</div>
                                    <div th:text="*{flightPlane.departureTime.toString().substring(0, 5)}" class="text-secondary">09:00</div>
                                </div>
                                <div class="text-secondary">•</div>
                                <div
                                        class="d-flex flex-column align-items-center"
                                >
                                    <i
                                            class="fa-solid fa-plane text-secondary"
                                    ></i>
                                    <div th:text="*{duration}" class="text-secondary">2h 30m</div>
                                </div>
                                <div class="text-secondary">•</div>

                                <div class="text-end">
                                    <div th:text="*{flightPlane.flight.arrivalAirport.airportCode}" class="fw-bold">HAN</div>
                                    <div th:text="*{flightPlane.arrivalTime.toString().substring(0, 5)}" class="text-secondary">11:30</div>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="">
                            <div class="d-flex">
                                Subtotal
                                <div class="ms-auto">
                                    <span class="text-primary fw-bold" th:text="${#numbers.formatDecimal(flight1.flightPlane.flight.flightPrice + flight2.flightPlane.flight.flightPrice, 0, 'POINT', 0, 'POINT') + '₫'}"
                                    >3.999.000₫</span
                                    >
                                    <span class="text-secondary"> / pax</span>
                                </div>
                            </div>
                            <div class="d-flex align-items-center">
                                Total for 1 pax
                                <div class="ms-auto">
                                    <span
                                            class="text-primary fw-bold text-large" th:text="${#numbers.formatDecimal(flight1.flightPlane.flight.flightPrice * bookingDetail.passengerDTOS.size() + flight2.flightPlane.flight.flightPrice * bookingDetail.passengerDTOS.size(), 0, 'POINT', 0, 'POINT') + '₫'}"
                                    >3.999.000₫</span
                                    >
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </main>
        <!-- Main -->

        <div id="modal-baggage" class="modal fade " tabindex="-1">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
              <form th:action="@{/booking/review/baggage}" method="post" class="modal-content">
                <div class="modal-body row gx-0">
                    <div class="sidebar col-4">
                        <div class="fw-bold text-large p-3"><i class="fa-solid fa-suitcase me-2"></i>Baggage</div>
                        <div class="fw-bold my-3 px-3">Select flight</div>
                        <div id="baggage-flight-1" class="select-baggage-item select-item selected" data-flight="1">
                            <div class="select-item-title" th:text="${'1. ' + flight1.flightPlane.flight.departureAirport.city + ' (' + flight1.flightPlane.flight.departureAirport.airportCode + ') → ' + flight1.flightPlane.flight.arrivalAirport.city + ' (' + flight1.flightPlane.flight.arrivalAirport.airportCode + ')'}">
                            1. Ho Chi Minh City (SGN) → Ha Noi (HAN)
                            </div>
                            <div class="d-flex text-secondary">
                                <div class="weight">0 kg</div>
                                <div class="price ms-auto">0 ₫</div>
                            </div>
                        </div>
                        <div id="baggage-flight-2" class="select-baggage-item select-item" data-flight="2">
                            <div class="select-item-title" th:text="${'2. ' + flight2.flightPlane.flight.departureAirport.city + ' (' + flight2.flightPlane.flight.departureAirport.airportCode + ') → ' + flight2.flightPlane.flight.arrivalAirport.city + ' (' + flight2.flightPlane.flight.arrivalAirport.airportCode + ')'}">
                                2. Ha Noi (HAN) → Ho Chi Minh City (SGN)
                            </div>
                            <div class="d-flex text-secondary">
                                <div class="weight">0 kg</div>
                                <div class="price ms-auto">0 ₫</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-8 bg-light">
                        <div th:object="${bookingDetail}" class="select-baggage-container" data-flight="1">
                            <div th:text="${'1. ' + flight1.flightPlane.flight.departureAirport.city + ' (' + flight1.flightPlane.flight.departureAirport.airportCode + ') → ' + flight1.flightPlane.flight.arrivalAirport.city + ' (' + flight1.flightPlane.flight.arrivalAirport.airportCode + ')'}" class="fw-bold text-large p-3">1. Ho Chi Minh City (SGN) → Ha Noi (HAN)</div>
                            <div th:each="passenger, iStat : ${bookingDetail.passengerDTOS}" class="item-container mx-3 mb-3">
                                <div th:text="${'Passenger ' + (iStat.index + 1) + ' of ' + bookingDetail.passengerDTOS.size()}" class="text-secondary fw-bold">Passenger 1 of 2</div>
                                <div th:tex="${passenger.lastName + ' ' + passenger.firstName}" class="fw-bold text-large">Nguyen Van A</div>
                                <hr>
                                <label class="form-check-label d-flex mb-2">
                                    <input type="radio" th:field="*{baggageIds1[__${iStat.index}__]}" class="form-check-input me-3" checked value="0" data-price="0" data-weight="0">
                                    No extra baggage
                                </label>
                                <label th:each="baggage, iStat2 : ${baggages}" class="form-check-label d-flex mb-2">
                                    <input type="radio" th:field="*{baggageIds1[__${iStat.index}__]}" class="form-check-input me-3" th:value="${baggage.baggageId}" th:attr="data-price=${baggage.price},data-weight=${baggage.weight}">
                                    <span th:text="${'+' + baggage.weight + 'kg'}">+20kg</span>
                                    <div th:text="${#numbers.formatDecimal(baggage.price, 0, 'POINT', 0, 'POINT') + '₫'}" class="baggage-price ms-auto text-danger fw-bold">200.000 ₫</div>
                                </label>
                            </div>
                        </div>
                        <div th:object="${bookingDetail}" class="select-baggage-container d-none" data-flight="2">
                            <div th:text="${'2. ' + flight2.flightPlane.flight.departureAirport.city + ' (' + flight2.flightPlane.flight.departureAirport.airportCode + ') → ' + flight2.flightPlane.flight.arrivalAirport.city + ' (' + flight2.flightPlane.flight.arrivalAirport.airportCode + ')'}" class="fw-bold text-large p-3">1. Ho Chi Minh City (SGN) → Ha Noi (HAN)</div>
                            <div th:each="passenger, iStat : ${bookingDetail.passengerDTOS}" class="item-container mx-3 mb-3">
                                <div th:text="${'Passenger ' + (iStat.index + 1) + ' of ' + bookingDetail.passengerDTOS.size()}" class="text-secondary fw-bold">Passenger 1 of 2</div>
                                <div th:tex="${passenger.lastName + ' ' + passenger.firstName}" class="fw-bold text-large">Nguyen Van A</div>
                                <hr>
                                <label class="form-check-label d-flex mb-2">
                                    <input type="radio" th:field="*{baggageIds2[__${iStat.index}__]}" class="form-check-input me-3" checked value="0" data-price="0" data-weight="0">
                                    No extra baggage
                                </label>
                                <label th:each="baggage, iStat2 : ${baggages}" class="form-check-label d-flex mb-2">
                                    <input type="radio" th:field="*{baggageIds2[__${iStat.index}__]}" class="form-check-input me-3" th:value="${baggage.baggageId}" th:attr="data-price=${baggage.price},data-weight=${baggage.weight}">
                                    <span th:text="${'+' + baggage.weight + 'kg'}">+20kg</span>
                                    <div th:text="${#numbers.formatDecimal(baggage.price, 0, 'POINT', 0, 'POINT') + '₫'}" class="baggage-price ms-auto text-danger fw-bold">200.000 ₫</div>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row p-3 border-top border-1 border-secondary-subtle">
                    <div class="col-4 d-flex">
                        <div class="fw-bold text-large">Subtotal</div>
                        <div class="subtotal fw-bold text-large text-danger ms-auto">0 ₫</div>
                    </div>
                    <div class="col-8 d-flex">
                        <button type="button" class="btn btn-secondary me-2 ms-auto" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Done</button>
                    </div>
                </div>
              </form>
            </div>
        </div>
        <div id="modal-seat" class="modal fade " tabindex="-1">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
              <div class="modal-content">
                <div class="modal-body row gx-0">
                    <div class="sidebar col-4">
                        <div class="fw-bold text-large p-3"><i class="fa-solid fa-couch me-2"></i>Seat number</div>
                        <div class="fw-bold my-3 px-3">Select flight</div>
                        <div class="select-flight-item select-item selected" data-flight="1">
                            <div th:text="${'1. ' + flight1.flightPlane.flight.departureAirport.city + ' (' + flight1.flightPlane.flight.departureAirport.airportCode + ') → ' + flight1.flightPlane.flight.arrivalAirport.city + ' (' + flight1.flightPlane.flight.arrivalAirport.airportCode + ')'}" class="select-item-title">
                                1. Ho Chi Minh City (SGN) → Ha Noi (HAN)
                            </div>
                        </div>
                        <div class="select-flight-item select-item" data-flight="2">
                            <div th:text="${'2. ' + flight2.flightPlane.flight.departureAirport.city + ' (' + flight2.flightPlane.flight.departureAirport.airportCode + ') → ' + flight2.flightPlane.flight.arrivalAirport.city + ' (' + flight2.flightPlane.flight.arrivalAirport.airportCode + ')'}"  class="select-item-title">
                                2. Ha Noi (HAN) → Ho Chi Minh City (SGN)
                            </div>
                        </div>
                        <div class="fw-bold my-3 px-3">Select passenger</div>
                        <div class="select-passenger-container" data-flight="1">
                            <div class="select-passenger-item select-item selected" data-passenger="1">
                                <div class="select-item-title">
                                    1. Nguyen Van A
                                </div>
                                <div class="d-flex text-secondary">
                                    <div class="seat ms-auto">No preference</div>
                                </div>
                            </div>
                            <div class="select-passenger-item select-item" data-passenger="2">
                                <div class="select-item-title">
                                    2. Nguyen Van B
                                </div>
                                <div class="d-flex text-secondary">
                                    <div class="seat ms-auto">No preference</div>
                                </div>
                            </div>
                        </div>
                        <div class="select-passenger-container d-none" data-flight="2">
                            <div class="select-passenger-item select-item selected" data-passenger="1">
                                <div class="select-item-title">
                                    1. Nguyen Van A
                                </div>
                                <div class="d-flex text-secondary">
                                    <div class="seat ms-auto">No preference</div>
                                </div>
                            </div>
                            <div class="select-passenger-item select-item" data-passenger="2">
                                <div class="select-item-title">
                                    2. Nguyen Van B
                                </div>
                                <div class="d-flex text-secondary">
                                    <div class="seat ms-auto">No preference</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-8 bg-light d-flex flex-column align-items-center">
                        <div class="select-seat-container" data-flight="1">
                            <div class="item-container m-3">
                                <div class="seat-container">
                                    <div>A</div>
                                    <div>B</div>
                                    <div>C</div>
                                    <div></div>
                                    <div>D</div>
                                    <div>E </div>
                                    <div>F</div>
                                    <div class="seat-box available" data-price="70000" data-number="A1" data-bs-toggle="tooltip" data-bs-title="70.000 ₫"></div>
                                    <div class="seat-box available" data-price="70000" data-number="B1" data-bs-toggle="tooltip" data-bs-title="70.000 ₫"></div>
                                    <div class="seat-box available" data-price="70000" data-number="C1" data-bs-toggle="tooltip" data-bs-title="70.000 ₫"></div>
                                    <div>1</div>
                                    <div class="seat-box unavailable"></div>
                                    <div class="seat-box available" data-price="70.000" data-bs-toggle="tooltip" data-bs-title="70.000 ₫"></div>
                                    <div class="seat-box unavailable"></div>
                                    <div class="seat-box unavailable"></div>
                                    <div class="seat-box available" data-price="70.000" data-bs-toggle="tooltip" data-bs-title="70.000 ₫"></div>
                                    <div class="seat-box available" data-price="70.000" data-bs-toggle="tooltip" data-bs-title="70.000 ₫"></div>
                                    <div>2</div>
                                    <div class="seat-box available"></div>
                                    <div class="seat-box available"></div>
                                    <div class="seat-box available"></div>
                                    <div class="seat-box available"></div>
                                    <div class="seat-box available"></div>
                                    <div class="seat-box available"></div>
                                    <div>3</div>
                                    <div class="seat-box available"></div>
                                    <div class="seat-box available"></div>
                                    <div class="seat-box available"></div>
                                    <div class="seat-box available"></div>
                                    <div class="seat-box available"></div>
                                    <div class="seat-box available"></div>
                                    <div>4</div>
                                    <div class="seat-box available"></div>
                                    <div class="seat-box available"></div>
                                    <div class="seat-box available"></div>
                                    <div class="seat-box available"></div>
                                    <div class="seat-box available"></div>
                                    <div class="seat-box available"></div>
                                    <div>5</div>
                                    <div class="seat-box available"></div>
                                    <div class="seat-box available"></div>
                                    <div class="seat-box available"></div>
                                    <div class="seat-box available"></div>
                                    <div class="seat-box available"></div>
                                    <div class="seat-box available"></div>
                                    <div>6</div>
                                    <div class="seat-box available"></div>
                                    <div class="seat-box available"></div>
                                    <div class="seat-box available"></div>
                                    <div class="seat-box available"></div>
                                    <div class="seat-box available"></div>
                                    <div class="seat-box available"></div>
                                    <div>7</div>
                                </div>
                            </div>
                        </div>
                        <div class="select-seat-container d-none" data-flight="2">
                            <div class="item-container m-3">
                                <div class="seat-container">
                                    <div>A</div>
                                    <div>B</div>
                                    <div>C</div>
                                    <div></div>
                                    <div>D</div>
                                    <div>E </div>
                                    <div>F</div>
                                    <div class="seat-box available" data-price="70000" data-number="A1" data-bs-toggle="tooltip" data-bs-title="70.000 ₫"></div>
                                    <div class="seat-box available" data-price="70000" data-number="B1" data-bs-toggle="tooltip" data-bs-title="70.000 ₫"></div>
                                    <div class="seat-box available" data-price="70000" data-number="C1" data-bs-toggle="tooltip" data-bs-title="70.000 ₫"></div>
                                    <div>1</div>
                                    <div class="seat-box unavailable"></div>
                                    <div class="seat-box available" data-price="70.000" data-bs-toggle="tooltip" data-bs-title="70.000 ₫"></div>
                                    <div class="seat-box unavailable"></div>
                                    <div class="seat-box unavailable"></div>
                                    <div class="seat-box available" data-price="70.000" data-bs-toggle="tooltip" data-bs-title="70.000 ₫"></div>
                                    <div class="seat-box available" data-price="70.000" data-bs-toggle="tooltip" data-bs-title="70.000 ₫"></div>
                                    <div>2</div>
                                    <div class="seat-box available"></div>
                                    <div class="seat-box available"></div>
                                    <div class="seat-box available"></div>
                                    <div class="seat-box available"></div>
                                    <div class="seat-box available"></div>
                                    <div class="seat-box available"></div>
                                    <div>3</div>
                                    <div class="seat-box available"></div>
                                    <div class="seat-box available"></div>
                                    <div class="seat-box available"></div>
                                    <div class="seat-box available"></div>
                                    <div class="seat-box available"></div>
                                    <div class="seat-box available"></div>
                                    <div>4</div>
                                    <div class="seat-box available"></div>
                                    <div class="seat-box available"></div>
                                    <div class="seat-box available"></div>
                                    <div class="seat-box available"></div>
                                    <div class="seat-box available"></div>
                                    <div class="seat-box available"></div>
                                    <div>5</div>
                                    <div class="seat-box available"></div>
                                    <div class="seat-box available"></div>
                                    <div class="seat-box available"></div>
                                    <div class="seat-box available"></div>
                                    <div class="seat-box available"></div>
                                    <div class="seat-box available"></div>
                                    <div>6</div>
                                    <div class="seat-box available"></div>
                                    <div class="seat-box available"></div>
                                    <div class="seat-box available"></div>
                                    <div class="seat-box available"></div>
                                    <div class="seat-box available"></div>
                                    <div class="seat-box available"></div>
                                    <div>7</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row p-3 border-top border-1 border-secondary-subtle">
                    <div class="col-4 d-flex">
                        <div class="fw-bold text-large">Subtotal</div>
                        <div class="subtotal fw-bold text-large text-danger ms-auto">0 ₫</div>
                    </div>
                    <div class="col-8 d-flex">
                        <button type="button" class="btn btn-secondary me-2 ms-auto" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Done</button>
                    </div>
                </div>
              </div>
            </div>
        </div>
        <script src="/js/search-bar.js"></script>
        <script src="/js/booking-review.js"></script>
    </body>
</html>
