<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
    />
    <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"
    ></script>
    <script
            src="https://kit.fontawesome.com/45f15e8235.js"
            crossorigin="anonymous"
    ></script>
    <script
            src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
            crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/utils.css" />
    <link rel="stylesheet" href="/css/booking.css" />
    <script
            type="text/javascript"
            src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"
    ></script>
    <script
            type="text/javascript"
            src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"
    ></script>
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css"
    />
    <link
            rel="stylesheet"
            type="text/css"
            href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"
    />
    <title>Complete</title>
</head>
<body>
<!-- Navbar -->
<div th:replace="./fragments/header :: header"> </div>
<!-- Navbar -->

<!-- Main Container -->
<main
        class="p-5"
>
    <nav style="--bs-breadcrumb-divider: '-';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active"><i class="bi bi-check-circle-fill me-2"></i>Book</li>
            <li class="breadcrumb-item active"><i class="bi bi-check-circle-fill me-2"></i>Review</li>
            <li class="breadcrumb-item active"><i class="bi bi-check-circle-fill me-2"></i>Pay</li>
            <li class="breadcrumb-item active"><i class="bi bi-4-circle-fill me-2"></i>E-ticket</li>
        </ol>
    </nav>
    <div class="d-flex flex-column align-items-center">
        <i
                class="fa-regular fa-circle-check mb-3 text-primary"
                style="font-size: 100px"
        ></i>
        <h1 class="">Booking complete!</h1>
        <p class="text-large">Scroll down to see your e-ticket. Enjoy your flight !</p>
        <a href="/" class="link-underline link-underline-opacity-0 link-primary">Return to homepage</a>
    </div>

    <br /><br />
    <div class="item-container m-auto" style="width: 800px">
        <div class="header d-flex flex-column align-items-center">
            <a
                    class="navbar-brand text-primary fw-bold font-inter text-larger"
                    href="/"
            ><i class="fa-solid fa-circle"></i> FreeFlight
            </a>
            <h1>E-ticket</h1>
        </div>
        <hr>
        <div class="content p-3">
            <p>Dear <b th:text="${reservation.contactName}">Nguyen Van A</b></p>
            <p>FreeFlight would like to confirm that your flight ticket has been reserved at <b th:text="${reservation.timeCreated}">16:20 - 22/11/2023</b></p>
            <div class="bg-primary-subtle d-flex flex-column align-items-center m-auto border border-1 border-light-subtle rounded p-3 mb-3" style="width: 400px;">
                <div>RESERVATION CODE</div>
                <h2 th:text="${reservation.code}" class="my-3">ABCXYZ</h2>
                <div class="text-secondary">Show this code to the check-in officer</div>
            </div>
            <h4>TICKET INFORMATION</h4>
            <div  class="item-container mb-3">
                <div class="item-content">
                    <div
                            class="flight-item selected d-flex align-content-center"
                    >
                        <div class="icon mx-3">
                            <img
                                    src="/images/flight-departure.png"
                                    alt=""
                                    srcset=""
                            />
                        </div>
                        <div>
                            <div th:text="*{#temporals.format(reservation.tickets[0].seatDetail.flightPlane.departureDay, 'EEE, dd MMM yyyy')}" class="text-secondary text-smaller">
                                Thu, 06 Jul 2003
                            </div>
                            <div th:text="${}" class="">Ho Chi Minh City → Hanoi</div>
                        </div>
                    </div>
                    <div id="chosen-departure-flight" class="flight-chosen">
                        <div class="d-flex mb-2">
                            <div class="logo me-2">
                                <img src="/images/vna-logo.png" alt="" />
                            </div>
                            <div>
                                <div class="fw-bold">Vietnam Airlines</div>
                                <div class="text-secondary">
                                    VN6420 • Eco
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <div class="fw-bold">SGN</div>
                                <div class="text-secondary">Tan Son Nhat Airport</div>
                                <div class="text-larger fw-bold">09:00</div>
                            </div>
                            <div class="text-secondary">•</div>
                            <div
                                    class="d-flex flex-column align-items-center"
                            >
                                <i
                                        class="fa-solid fa-plane text-secondary"
                                ></i>
                                <div class="text-secondary">2h 30m</div>
                            </div>
                            <div class="text-secondary">•</div>

                            <div class="text-end">
                                <div class="fw-bold">HAN</div>
                                <div class="text-secondary">Noi Bai Airport</div>
                                <div class="text-larger fw-bold">11:30</div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="flight-item d-flex align-content-center">
                        <div class="icon mx-3">
                            <img
                                    src="/images/flight-destination.png"
                                    alt=""
                                    srcset=""
                            />
                        </div>
                        <div>
                            <div class="text-secondary text-smaller">
                                Thu, 06 Jul 2003
                            </div>
                            <div class="">Hanoi → Ho Chi Minh City</div>
                        </div>
                    </div>
                    <div id="chosen-departure-flight" class="flight-chosen">
                        <div class="d-flex mb-2">
                            <div class="logo me-2">
                                <img src="/images/vna-logo.png" alt="" />
                            </div>
                            <div>
                                <div class="fw-bold">Vietnam Airlines</div>
                                <div class="text-secondary">
                                    VN6420 • Eco
                                </div>
                            </div>

                        </div>

                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <div class="fw-bold">SGN</div>
                                <div class="text-secondary">Tan Son Nhat Airport</div>
                                <div class="text-larger fw-bold">09:00</div>
                            </div>
                            <div class="text-secondary">•</div>
                            <div
                                    class="d-flex flex-column align-items-center"
                            >
                                <i
                                        class="fa-solid fa-plane text-secondary"
                                ></i>
                                <div class="text-secondary">2h 30m</div>
                            </div>
                            <div class="text-secondary">•</div>

                            <div class="text-end">
                                <div class="fw-bold">HAN</div>
                                <div class="text-secondary">Noi Bai Airport</div>
                                <div class="text-larger fw-bold">11:30</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h4>PASSENGER INFORMATION </h4>
            <table class="table mb-3">
                <thead>
                <th>No.</th>
                <th>Passenger</th>
                <th>Seat</th>
                <th>Ticket code</th>
                <th>Facilities</th>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>Nguyen Van A</td>
                    <td>3B</td>
                    <td>ASDZXC</td>
                    <td>
                        20kg Baggage to HCM City
                        <br>
                        10kg Baggage to Ha Noi
                    </td>
                </tr>
                </tbody>
            </table>
            <h4>PAYMENT</h4>
            <div class="bg-info-subtle d-flex flex-column align-items-center m-auto border border-1 border-light-subtle rounded p-3 mb-3" style="width: 400px;">
                <div>TOTAL AMOUNT</div>
                <h2 class="my-3">5.434.000₫</h2>
            </div>
            <h4>NOTICE</h4>
            <p><i class="bi bi-passport text-larger me-2"></i>Show your ID/Passport and ticket at check-in counter.</p>
            <p><i class="bi bi-alarm text-larger me-2"></i>We advise passenger to check-in at least 90 minutes before departure time for domestic flights and
                150 minutes for international flights.</p>
            <p><i class="bi bi-clock text-larger me-2"></i>Time on the ticket is the local time zone.</p>
        </div>
    </div>
</main>
<!-- Main Container -->
</body>
</html>
