<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
    />
    <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"
    ></script>
    <script
            src="https://kit.fontawesome.com/45f15e8235.js"
            crossorigin="anonymous"
    ></script>
    <script
            src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
            crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/utils.css" />
    <link rel="stylesheet" href="/css/booking.css" />
    <script
            type="text/javascript"
            src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"
    ></script>
    <script
            type="text/javascript"
            src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"
    ></script>
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css"
    />
    <link
            rel="stylesheet"
            type="text/css"
            href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"
    />
    <title>Booking</title>
</head>
<body>
<!-- Navbar -->
<div th:replace="./fragments/header :: header"> </div>
<!-- Navbar -->

<main class="p-5 row">
    <form th:action="@{/booking}" th:object="${form}" method="post"  class="col-lg-8">
        <nav style="--bs-breadcrumb-divider: '-';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active"><i class="bi bi-1-circle-fill me-2"></i>Book</li>
                <li class="breadcrumb-item"><i class="bi bi-2-circle-fill me-2"></i>Review</li>
                <li class="breadcrumb-item"><i class="bi bi-3-circle-fill me-2"></i>Pay</li>
                <li class="breadcrumb-item"><i class="bi bi-4-circle-fill me-2"></i>E-ticket</li>
            </ol>
        </nav>
        <h2>Your booking</h2>
        <h4>Contact details</h4>
        <div class="item-container mb-3">
            <div class="fw-bold text-large">Contact details</div>
            <hr />
            <div class="row gx-2">
                <div class="form-floating col-6 mb-3">
                    <input
                            th:field="*{contactDetail.lastName}"
                            type="text"
                            class="form-control"
                            id="input-contact-last-name"
                            placeholder=""
                            required
                    />
                    <label for="input-contact-last-name"
                    >Last Name</label
                    >
                    <div class="form-text">e.g. Nguyen</div>
                </div>
                <div class="form-floating col-6 mb-3">
                    <input
                            th:field="*{contactDetail.firstName}"
                            type="text"
                            class="form-control"
                            id="input-contact-first-name"
                            placeholder=""
                            required
                    />
                    <label for="input-contact-first-name"
                    >Middle & First Name</label
                    >
                    <div class="form-text">e.g. Van A</div>
                </div>
                <div class="form-floating col-6 mb-3">
                    <input
                            th:field="*{contactDetail.phoneNumber}"
                            type="number"
                            class="form-control"
                            id="input-contact-phone"
                            placeholder=""
                            required
                    />
                    <label for="input-contact-phone"
                    >Phone number</label
                    >
                    <div class="form-text">e.g. 0923456789</div>
                </div>
                <div class="form-floating col-6 mb-3">
                    <input
                            th:field="*{contactDetail.email}"
                            type="text"
                            class="form-control"
                            id="input-contact-email"
                            placeholder=""
                            required
                    />
                    <label for="input-contact-email">Email</label>
                    <div class="form-text">e.g. name@example.com</div>
                </div>
            </div>
        </div>
        <h4>Traveler details</h4>
        <div th:each="passenger, iStat : *{passengerDTOS}" class="item-container mb-3">
            <div th:text="${#strings.capitalize(passenger.type) + ' ' + (iStat.index+1)}" class="fw-bold text-large">Adult 1</div>
            <hr />
            <div class="row gx-2">
                <input type="hidden" th:field="*{passengerDTOS[__${iStat.index}__].type}" th:value="${passenger.type}">
                <div class="form-floating col-6 mb-3">
                    <input
                            type="text"
                            class="form-control"
                            th:field="*{passengerDTOS[__${iStat.index}__].lastName}"
                            th:id="${'input-last-name-' + iStat.index}"
                            placeholder=""
                            required
                    />
                    <label th:for="${'input-last-name-' + iStat.index}">Last Name</label>
                    <div class="form-text">e.g. Nguyen</div>
                </div>
                <div class="form-floating col-6 mb-3">
                    <input
                            type="text"
                            class="form-control"
                            th:field="*{passengerDTOS[__${iStat.index}__].firstName}"
                            th:id="${'input-first-name-' + iStat.index}"
                            placeholder=""
                            required
                    />
                    <label th:for="${'input-first-name-' + iStat.index}"
                    >Middle & First Name</label
                    >
                    <div class="form-text">e.g. Van A</div>
                </div>
                <div class="form-floating col-6 mb-3">
                    <select
                            class="form-select"
                            th:field="*{passengerDTOS[__${iStat.index}__].gender}"
                            th:id="${'input-gender-' + iStat.index}"
                            placeholder=""
                            required
                    >
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                    <label th:for="${'input-gender-' + iStat.index}"
                    >Gender</label
                    >
                </div>
                <div class="form-floating col-6 mb-3">
                    <input
                            type="date"
                            class="form-control"
                            th:field="*{passengerDTOS[__${iStat.index}__].dateOfBirth}"
                            th:id="${'input-birth-name-' + iStat.index}"
                            placeholder=""
                            required
                    />
                    <label th:for="${'input-birth-name-' + iStat.index}">Date of birth</label>
                </div>
                <div class="form-floating col-6 mb-3">
                    <select
                            class="form-select select-nationality"
                            th:id="${'input-nationality-name-' + iStat.index}"
                            th:field="*{passengerDTOS[__${iStat.index}__].nationality}"
                            placeholder=""
                            required
                    ></select>
                    <label th:for="${'input-nationality-name-' + iStat.index}">Nationality</label>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-end">
            <button class="btn-primary btn" style="border-radius: 12px !important;" type="submit">
                CONTINUE TO REVIEW
            </button>
        </div>

    </form>
    <div class="col-lg-4">
        <h2>Your flights</h2>
        <div class="item-container mb-3">
            <div class="item-content">
                <div class="flight-item d-flex align-content-center">
                    <div class="icon mx-3">
                        <img
                                src="/images/flight-departure.png"
                                alt=""
                                srcset=""
                        />
                    </div>
                    <div th:object="${flight1}">
                        <div th:text="*{#temporals.format(flightPlane.departureDay, 'EEE, dd MMM yyyy')}" class="text-secondary text-smaller">
                            Thu, 06 Jul 2003
                        </div>
                        <div th:text="*{flightPlane.flight.departureAirport.city + ' → ' + flightPlane.flight.arrivalAirport.city}">Ho Chi Minh City → Hanoi</div>
                    </div>
                </div>
                <div th:object="${flight1}" id="chosen-departure-flight" class="flight-chosen">
                    <div class="d-flex mb-2">
                        <div class="logo me-2">
                            <img th:if="*{flightPlane.flight.flightAirline.equals('Vietnam Airlines')}" src="/images/vna-logo.png" alt="" />
                            <img th:if="*{flightPlane.flight.flightAirline.equals('Vietjet Air')}" src="/images/vietjet-logo.png" alt="" />
                        </div>
                        <div>
                            <div th:text="*{flightPlane.flight.flightAirline}" class="fw-bold">Vietnam Airlines</div>
                            <div th:text="*{flightPlane.plane.planeName}" class="text-secondary">
                                VN6420 • Eco
                            </div>
                        </div>
                        <div class="ms-auto">
                                    <span class="text-primary fw-bold" th:text="*{#numbers.formatDecimal(priceTicket, 0, 'POINT', 0, 'POINT') + '₫'}"
                                    >3.999.000₫</span
                                    >
                            <span class="text-secondary"> / pax</span>
                        </div>
                    </div>

                    <div class="d-flex justify-content-between">
                        <div>
                            <div th:text="*{flightPlane.flight.departureAirport.airportCode}" class="fw-bold">SGN</div>
                            <div th:text="*{flightPlane.departureTime.toString().substring(0, 5)}" class="text-secondary">09:00</div>
                        </div>
                        <div class="text-secondary">•</div>
                        <div
                                class="d-flex flex-column align-items-center"
                        >
                            <i
                                    class="fa-solid fa-plane text-secondary"
                            ></i>
                            <div th:text="*{duration}" class="text-secondary">2h 30m</div>
                        </div>
                        <div  class="text-secondary">•</div>

                        <div class="text-end">
                            <div th:text="*{flightPlane.flight.arrivalAirport.airportCode}" class="fw-bold">HAN</div>
                            <div th:text="*{flightPlane.arrivalTime.toString().substring(0, 5)}" class="text-secondary">11:30</div>
                        </div>
                    </div>
                </div>
                <hr />
                <div th:if="${isReturn=='true'}" class="flight-item d-flex align-content-center">
                    <div class="icon mx-3">
                        <img
                                src="/images/flight-destination.png"
                                alt=""
                                srcset=""
                        />
                    </div>
                    <div th:object="${flight2}">
                        <div th:text="*{#temporals.format(flightPlane.departureDay, 'EEE, dd MMM yyyy')}" class="text-secondary text-smaller">
                            Thu, 06 Jul 2003
                        </div>
                        <div th:text="*{flightPlane.flight.departureAirport.city + ' → ' + flightPlane.flight.arrivalAirport.city}">Ho Chi Minh City → Hanoi</div>
                    </div>
                </div>
                <div th:if="${isReturn=='true'}" th:object="${flight2}" id="chosen-arrival-flight" class="flight-chosen">
                    <div class="d-flex mb-2">
                        <div class="logo me-2">
                            <img th:if="*{flightPlane.flight.flightAirline.equals('Vietnam Airlines')}" src="/images/vna-logo.png" alt="" />
                            <img th:if="*{flightPlane.flight.flightAirline.equals('Vietjet Air')}" src="/images/vietjet-logo.png" alt="" />
                        </div>
                        <div>
                            <div th:text="*{flightPlane.flight.flightAirline}" class="fw-bold">Vietnam Airlines</div>
                            <div th:text="*{flightPlane.plane.planeName}" class="text-secondary">
                                VN6420 • Eco
                            </div>
                        </div>
                        <div class="ms-auto">
                                    <span class="text-primary fw-bold" th:text="*{#numbers.formatDecimal(priceTicket, 0, 'POINT', 0, 'POINT') + '₫'}"
                                    >3.999.000₫</span
                                    >
                            <span class="text-secondary"> / pax</span>
                        </div>
                    </div>

                    <div class="d-flex justify-content-between">
                        <div>
                            <div th:text="*{flightPlane.flight.departureAirport.airportCode}" class="fw-bold">SGN</div>
                            <div th:text="*{flightPlane.departureTime.toString().substring(0, 5)}" class="text-secondary">09:00</div>
                        </div>
                        <div class="text-secondary">•</div>
                        <div
                                class="d-flex flex-column align-items-center"
                        >
                            <i
                                    class="fa-solid fa-plane text-secondary"
                            ></i>
                            <div th:text="*{duration}" class="text-secondary">2h 30m</div>
                        </div>
                        <div class="text-secondary">•</div>

                        <div class="text-end">
                            <div th:text="*{flightPlane.flight.arrivalAirport.airportCode}" class="fw-bold">HAN</div>
                            <div th:text="*{flightPlane.arrivalTime.toString().substring(0, 5)}" class="text-secondary">11:30</div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="">
                    <div class="d-flex">
                        Subtotal
                        <div class="ms-auto">
                                    <span class="text-primary fw-bold" th:text="${#numbers.formatDecimal(flight1.flightPlane.flight.flightPrice + flight2.flightPlane.flight.flightPrice, 0, 'POINT', 0, 'POINT') + '₫'}"
                                    >3.999.000₫</span
                                    >
                            <span class="text-secondary"> / pax</span>
                        </div>
                    </div>
                    <div class="d-flex align-items-center">
                        Total for 1 pax
                        <div class="ms-auto">
                                    <span
                                            class="text-primary fw-bold text-large" th:text="${#numbers.formatDecimal(flight1.flightPlane.flight.flightPrice * form.passengerDTOS.size() + flight2.flightPlane.flight.flightPrice * form.passengerDTOS.size(), 0, 'POINT', 0, 'POINT') + '₫'}"
                                    >3.999.000₫</span
                                    >
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script src="/js/search-bar.js"></script>
<script src="/js/booking.js"></script>
</body>
</html>
