<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
        />
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://kit.fontawesome.com/45f15e8235.js"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
            crossorigin="anonymous"
        ></script>
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css"
        />
        <script
            type="text/javascript"
            src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"
        ></script>
        <script
            type="text/javascript"
            src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"
        ></script>
        <link
            rel="stylesheet"
            type="text/css"
            href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"
        />
        <link rel="stylesheet" href="css/index.css" />
        <link rel="stylesheet" href="css/utils.css" />
        <link rel="stylesheet" href="css/search-bar.css" />
        <link rel="stylesheet" href="css/flights.css" />

        <title>Homepage</title>
    </head>
    <body>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light-subtle px-3">
            <!-- Container wrapper -->
            <div class="container-fluid">
                <!-- Navbar brand -->
                <a class="navbar-brand text-primary fw-bold font-inter" href="/"
                    ><i class="fa-solid fa-circle"></i> FreeFlight
                </a>

                <!-- Collapsible wrapper -->
                <div
                    class="collapse navbar-collapse"
                    id="navbarSupportedContent"
                >
                    <ul
                        class="navbar-nav ms-auto mb-2 mb-lg-0 font-nunito d-flex align-items-center"
                    >
                        <!-- Link -->
                        <li class="nav-item">
                            <a class="nav-link text-secondary ms-3" href="/"
                                >Flights</a
                            >
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-secondary ms-3" href="/"
                                >Log in</a
                            >
                        </li>
                        <li class="nav-item">
                            <a
                                class="nav-link btn btn-primary text-light px-3 py-2 ms-3"
                                href="/"
                                >Sign up</a
                            >
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Container wrapper -->
        </nav>
        <!-- Navbar -->
        <main class="d-flex align-items-center flex-column">
            <div class="search-bar w-100">
                <div class="search-item dropup search-place">
                    <div class="search-icon">
                        <img
                            src="images/flight-departure.png"
                            alt=""
                            srcset=""
                        />
                    </div>
                    <a
                        class="form-floating dropdown-toggle"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                    >
                        <input
                            type="text"
                            class="form-control input-borderless"
                            id="input-airport-departure"
                            placeholder=""
                        />
                        <label
                            for="input-airport-departure"
                            class="text-secondary"
                            >From where ?</label
                        >
                    </a>
                    <ul class="dropdown-menu">
                        <li><h6 class="dropdown-header">Popular</h6></li>
                        <li>
                            <a
                                class="dropdown-item d-flex"
                                href="#"
                                data-value="Ho Chi Minh City"
                            >
                                <div>
                                    <div class="airport-location">
                                        Ho Chi Minh City, Viet Nam
                                    </div>
                                    <div class="airport-name">
                                        Tan Son Nhat Airport
                                    </div>
                                </div>
                                <div class="airport-code">SGN</div>
                            </a>
                        </li>
                        <li>
                            <a
                                class="dropdown-item d-flex"
                                href="#"
                                data-value="Ho Chi Minh City"
                            >
                                <div>
                                    <div class="airport-location">
                                        Ho Chi Minh City, Viet Nam
                                    </div>
                                    <div class="airport-name">
                                        Tan Son Nhat Airport
                                    </div>
                                </div>
                                <div class="airport-code">SGN</div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="seperator">
                    <div id="btn-switch" class="text-secondary">
                        <i class="fa-solid fa-arrow-right-arrow-left"></i>
                    </div>
                </div>
                <div class="search-item dropup search-place">
                    <div class="search-icon">
                        <img
                            src="images/flight-destination.png"
                            alt=""
                            srcset=""
                        />
                    </div>
                    <a
                        class="form-floating dropdown-toggle"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                    >
                        <input
                            type="text"
                            class="form-control input-borderless"
                            id="input-airport-destination"
                            placeholder=""
                        />
                        <label
                            for="input-airport-destination"
                            class="text-secondary"
                            >To where ?</label
                        >
                    </a>
                    <ul class="dropdown-menu">
                        <li><h6 class="dropdown-header">Popular</h6></li>
                        <li>
                            <a
                                class="dropdown-item d-flex"
                                href="#"
                                data-value="Ho Chi Minh City"
                            >
                                <div>
                                    <div class="airport-location">
                                        Ho Chi Minh City, Viet Nam
                                    </div>
                                    <div class="airport-name">
                                        Tan Son Nhat Airport
                                    </div>
                                </div>
                                <div class="airport-code">SGN</div>
                            </a>
                        </li>
                        <li>
                            <a
                                class="dropdown-item d-flex"
                                href="#"
                                data-value="Ho Chi Minh City"
                            >
                                <div>
                                    <div class="airport-location">
                                        Ho Chi Minh City, Viet Nam
                                    </div>
                                    <div class="airport-name">
                                        Tan Son Nhat Airport
                                    </div>
                                </div>
                                <div class="airport-code">SGN</div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="seperator"></div>
                <div class="search-item">
                    <div class="search-icon text-secondary">
                        <i class="fa-regular fa-calendar"></i>
                    </div>
                    <div class="form-floating">
                        <input
                            class="form-control input-borderless"
                            id="input-date"
                            placeholder=""
                            name="dates"
                        />
                        <label for="input-date" class="text-secondary"
                            >Depart - Return</label
                        >
                    </div>
                    <div class="form-check form-switch">
                        <input
                            class="form-check-input"
                            type="checkbox"
                            role="switch"
                            id="check-return"
                            checked
                        />
                        <label
                            class="form-check-label text-secondary"
                            for="check-return"
                            >Return</label
                        >
                    </div>
                </div>
                <div class="seperator"></div>
                <div class="search-item dropup" id="item-passenger">
                    <div class="search-icon text-secondary">
                        <i class="fa-solid fa-user"></i>
                    </div>
                    <a
                        class="form-floating dropdown-toggle"
                        data-bs-toggle="dropdown"
                        data-bs-auto-close="outside"
                        aria-expanded="false"
                    >
                        <input
                            type="text"
                            class="form-control input-borderless"
                            id="input-passenger"
                            placeholder=""
                        />
                        <label for="input-passenger" class="text-secondary"
                            >Passenger</label
                        >
                    </a>
                    <ul class="dropdown-menu w-100">
                        <li>
                            <div class="dropdown-item">
                                <div
                                    class="text-primary me-2 icon"
                                    style="font-size: xx-large"
                                >
                                    <i
                                        class="fa-solid fa-person-walking-luggage"
                                    ></i>
                                </div>
                                <div>
                                    <div class="">Adult</div>
                                    <div
                                        class="text-secondary"
                                        style="font-size: smaller"
                                    >
                                        > 16 yrs
                                    </div>
                                </div>
                                <div class="quantity-picker ms-auto">
                                    <i
                                        class="fa-solid fa-circle-minus text-primary btn-minus"
                                    ></i>
                                    <span class="quantity" id="quantity-adult"
                                        >0</span
                                    >
                                    <i
                                        class="fa-solid fa-circle-plus text-primary btn-plus"
                                    ></i>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="dropdown-item">
                                <div
                                    class="text-primary me-2 icon"
                                    style="font-size: xx-large"
                                >
                                    <i class="fa-solid fa-child"></i>
                                </div>
                                <div>
                                    <div class="">Children</div>
                                    <div
                                        class="text-secondary"
                                        style="font-size: smaller"
                                    >
                                        2 - 16 yrs
                                    </div>
                                </div>
                                <div class="quantity-picker ms-auto">
                                    <i
                                        class="fa-solid fa-circle-minus text-primary btn-minus"
                                    ></i>
                                    <span class="quantity" id="quantity-child"
                                        >0</span
                                    >
                                    <i
                                        class="fa-solid fa-circle-plus text-primary btn-plus"
                                    ></i>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="dropdown-item">
                                <div
                                    class="text-primary me-2 icon"
                                    style="font-size: xx-large"
                                >
                                    <i class="fa-solid fa-baby"></i>
                                </div>
                                <div>
                                    <div class="">Infant</div>
                                    <div
                                        class="text-secondary"
                                        style="font-size: smaller"
                                    >
                                        &lt; 2 yrs
                                    </div>
                                </div>
                                <div class="quantity-picker ms-auto">
                                    <i
                                        class="fa-solid fa-circle-minus text-primary btn-minus"
                                    ></i>
                                    <span class="quantity" id="quantity-infant"
                                        >0</span
                                    >
                                    <i
                                        class="fa-solid fa-circle-plus text-primary btn-plus"
                                    ></i>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="seperator"></div>
                <div class="search-item flex-grow-1">
                    <button class="btn-primary btn px-4 m-auto">
                        Search flights
                    </button>
                </div>
            </div>
            <div class="main-container container-fluid p-3">
                <div class="row">
                    <div class="col-3 sidebar">
                        <!-- Flight -->
                        <div class="sidebar-item mb-3">
                            <div class="item-title">
                                <i class="bi bi-ticket-perforated me-2"></i>
                                Your Flights
                            </div>
                            <div class="item-content">
                                <div
                                    class="flight-item selected d-flex align-content-center"
                                >
                                    <div class="icon mx-3">
                                        <img
                                            src="images/flight-departure.png"
                                            alt=""
                                            srcset=""
                                        />
                                    </div>
                                    <div>
                                        <div
                                            class="text-secondary text-smaller"
                                        >
                                            Thu, 06 Jul 2003
                                        </div>
                                        <div class="">
                                            Ho Chi Minh City → Hanoi
                                        </div>
                                    </div>
                                </div>
                                <div id="chosen-departure-flight" class="flight-chosen">
                                    <div class="d-flex mb-2">
                                        <div class="logo me-2">
                                            <img src="images/vna-logo.png" alt="">
                                        </div>
                                        <div>
                                            <div class="fw-bold">Vietnam Airlines</div>
                                            <div class="text-secondary">VN6420 • Eco</div>
                                        </div>
                                        <div class="ms-auto">
                                            <span class="text-primary fw-bold"
                                                >3.999.000₫</span
                                            >
                                            <span class="text-secondary">
                                                / pax</span
                                            >
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-between">
                                        <div>
                                            <div class="fw-bold">SGN</div>
                                            <div class="text-secondary">09:00</div>
                                        </div>
                                        <div class="text-secondary">•</div>
                                        <div class="d-flex flex-column align-items-center">
                                            <i class="fa-solid fa-plane text-secondary"></i>
                                            <div class="text-secondary">2h 30m</div>
                                        </div>
                                        <div class="text-secondary">•</div>

                                        <div>
                                            <div class="fw-bold">HAN</div>
                                            <div class="text-secondary">11:30</div>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <div
                                    class="flight-item d-flex align-content-center"
                                >
                                    <div class="icon mx-3">
                                        <img
                                            src="images/flight-destination.png"
                                            alt=""
                                            srcset=""
                                        />
                                    </div>
                                    <div>
                                        <div
                                            class="text-secondary text-smaller"
                                        >
                                            Thu, 06 Jul 2003
                                        </div>
                                        <div class="">
                                            Hanoi → Ho Chi Minh City
                                        </div>
                                    </div>
                                </div>
                                <div id="chosen-departure-flight" class="flight-chosen">
                                    <div class="d-flex mb-2">
                                        <div class="logo me-2">
                                            <img src="images/vna-logo.png" alt="">
                                        </div>
                                        <div>
                                            <div class="fw-bold">Vietnam Airlines</div>
                                            <div class="text-secondary">VN6420 • Eco</div>
                                        </div>
                                        <div class="ms-auto">
                                            <span class="text-primary fw-bold"
                                                >3.999.000₫</span
                                            >
                                            <span class="text-secondary">
                                                / pax</span
                                            >
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-between">
                                        <div>
                                            <div class="fw-bold">SGN</div>
                                            <div class="text-secondary">09:00</div>
                                        </div>
                                        <div class="text-secondary">•</div>
                                        <div class="d-flex flex-column align-items-center">
                                            <i class="fa-solid fa-plane text-secondary"></i>
                                            <div class="text-secondary">2h 30m</div>
                                        </div>
                                        <div class="text-secondary">•</div>

                                        <div>
                                            <div class="fw-bold">HAN</div>
                                            <div class="text-secondary">11:30</div>
                                        </div>
                                    </div>
                                </div>

                                <hr />
                                <div
                                    class="p-3"
                                >
                                    <div class="d-flex">
                                        Subtotal
                                        <div class="ms-auto">
                                            <span class="text-primary fw-bold"
                                                >3.999.000₫</span
                                            >
                                            <span class="text-secondary">
                                                / pax</span
                                            >
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        Total for 1 pax
                                        <div class="ms-auto">
                                            <span class="text-primary fw-bold text-large"
                                                >3.999.000₫</span
                                            >
                                        </div>
                                    </div>
                                    <button class="btn-primary btn w-100 mt-3">CONTINUE TO BOOKING</button>
                                </div>
                            </div>
                        </div>
                        <!-- Flight -->

                        <!-- Sort -->
                        <div class="sidebar-item mb-3">
                            <div class="item-title">
                                <i class="bi bi-sort-down"></i>
                                Sort
                            </div>
                            <!-- Price -->
                            <div class="filter-item">
                                <button
                                    class="btn btn-toggle border-0 collapsed"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#price-collapse"
                                    aria-expanded="false"
                                >
                                    <b>Price</b>
                                </button>
                                <div class="collapse" id="price-collapse">
                                    <div class="filter-group">
                                        <div class="mt-1">
                                            <label class="form-check-label">
                                                <input
                                                    class="form-check-input me-3"
                                                    type="radio"
                                                    name="priceSort"
                                                    value="asc"
                                                />Price ascending</label
                                            >
                                        </div>
                                        <div class="mt-1">
                                            <label class="form-check-label">
                                                <input
                                                    class="form-check-input me-3"
                                                    type="radio"
                                                    name="priceSort"
                                                    value="desc"
                                                />Price descending</label
                                            >
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Price -->
                            <!-- Duration -->
                            <div class="filter-item">
                                <button
                                    class="btn btn-toggle border-0 collapsed"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#duration-collapse"
                                    aria-expanded="false"
                                >
                                    <b>Duration</b>
                                </button>
                                <div class="collapse" id="duration-collapse">
                                    <div class="filter-group">
                                        <div class="mt-1">
                                            <label class="form-check-label">
                                                <input
                                                    class="form-check-input me-3"
                                                    type="radio"
                                                    name="durationSort"
                                                    value="asc"
                                                />Duration ascending</label
                                            >
                                        </div>
                                        <div class="mt-1">
                                            <label class="form-check-label">
                                                <input
                                                    class="form-check-input me-3"
                                                    type="radio"
                                                    name="durationSort"
                                                    value="desc"
                                                />Duration descending</label
                                            >
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Duration -->
                        </div>
                        <!-- Sort -->

                        <!-- Filter -->
                        <div class="sidebar-item">
                            <div class="item-title">
                                <i class="bi bi-filter"></i>
                                Filter
                            </div>
                            <!-- Airlines -->
                            <div class="filter-item">
                                <button
                                    class="btn btn-toggle border-0 collapsed"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#airline-collapse"
                                    aria-expanded="false"
                                >
                                    <b>Airlines</b>
                                </button>
                                <div class="collapse" id="airline-collapse">
                                    <div class="filter-group">
                                        <div class="mt-1">
                                            <label class="form-check-label">
                                                <input
                                                    class="form-check-input me-3"
                                                    type="checkbox"
                                                    name="airline[]"
                                                    value="vna"
                                                />Vietnam Airlines</label
                                            >
                                        </div>
                                        <div class="mt-1">
                                            <label class="form-check-label">
                                                <input
                                                    class="form-check-input me-3"
                                                    type="checkbox"
                                                    name="airline[]"
                                                    value="vietjet"
                                                />Vietjet Air</label
                                            >
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Airlines -->
                            <!-- Departure Time -->
                            <div class="filter-item">
                                <button
                                    class="btn btn-toggle border-0 collapsed"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#departure-collapse"
                                    aria-expanded="false"
                                >
                                    <b>Departure time</b>
                                </button>
                                <div class="collapse" id="departure-collapse">
                                    <div class="filter-group">
                                        <div class="mt-1">
                                            <label class="form-check-label">
                                                <input
                                                    class="form-check-input me-3"
                                                    type="checkbox"
                                                    name="departure[]"
                                                    value="morning"
                                                />Morning (06:00 - 12:00)</label
                                            >
                                        </div>
                                        <div class="mt-1">
                                            <label class="form-check-label">
                                                <input
                                                    class="form-check-input me-3"
                                                    type="checkbox"
                                                    name="departure[]"
                                                    value="afternoon"
                                                />Afternoon (12:00 -
                                                18:00)</label
                                            >
                                        </div>
                                        <div class="mt-1">
                                            <label class="form-check-label">
                                                <input
                                                    class="form-check-input me-3"
                                                    type="checkbox"
                                                    name="departure[]"
                                                    value="evening"
                                                />Evening (18:00 - 24:00)</label
                                            >
                                        </div>
                                        <div class="mt-1">
                                            <label class="form-check-label">
                                                <input
                                                    class="form-check-input me-3"
                                                    type="checkbox"
                                                    name="departure[]"
                                                    value="night"
                                                />Night (00:00 - 06:00)</label
                                            >
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Departure Time -->
                            <!-- Arrival Time -->
                            <div class="filter-item">
                                <button
                                    class="btn btn-toggle border-0 collapsed"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#arrival-collapse"
                                    aria-expanded="false"
                                >
                                    <b>Arrival time</b>
                                </button>
                                <div class="collapse" id="arrival-collapse">
                                    <div class="filter-group">
                                        <div class="mt-1">
                                            <label class="form-check-label">
                                                <input
                                                    class="form-check-input me-3"
                                                    type="checkbox"
                                                    name="arrival[]"
                                                    value="morning"
                                                />Morning (06:00 - 12:00)</label
                                            >
                                        </div>
                                        <div class="mt-1">
                                            <label class="form-check-label">
                                                <input
                                                    class="form-check-input me-3"
                                                    type="checkbox"
                                                    name="arrival[]"
                                                    value="afternoon"
                                                />Afternoon (12:00 -
                                                18:00)</label
                                            >
                                        </div>
                                        <div class="mt-1">
                                            <label class="form-check-label">
                                                <input
                                                    class="form-check-input me-3"
                                                    type="checkbox"
                                                    name="arrival[]"
                                                    value="evening"
                                                />Evening (18:00 - 24:00)</label
                                            >
                                        </div>
                                        <div class="mt-1">
                                            <label class="form-check-label">
                                                <input
                                                    class="form-check-input me-3"
                                                    type="checkbox"
                                                    name="arrival[]"
                                                    value="night"
                                                />Night (00:00 - 06:00)</label
                                            >
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Arrival Time -->
                        </div>
                        <!-- Filter -->
                    </div>
                    <div class="col-9">
                        <div class="flight-container mb-3">
                            <div class="flight-info-container mb-3">
                                <div class="airline-logo">
                                    <img src="images/vna-logo.png" alt="" />
                                    <div class="airline-name">
                                        Vietnam Airlines
                                    </div>
                                </div>
                                <div class="vertical-seperator"></div>
                                <div class="flight-info">
                                    <div class="departure-info">
                                        <div class="day">Monday</div>
                                        <div class="time">09:30</div>
                                        <div class="airport-code">SGN</div>
                                    </div>
                                    <div class="duration-info mx-lg-4 mx-md-3 mx-sm-1">
                                        <div class="duration">2h 30m</div>
                                        <div class="d-flex align-items-center">
                                            <i
                                                class="text-primary fa-regular fa-circle"
                                            ></i>
                                            <div
                                                class="horizontal-dashed-seperator"
                                            ></div>
                                            <i
                                                class="text-primary fa-solid fa-circle"
                                            ></i>
                                        </div>
                                        <a
                                            class="link-underline link-underline-opacity-0 link-primary btn-detail"
                                            >Details
                                            <i
                                                class="fa-solid fa-chevron-down"
                                            ></i
                                        ></a>
                                    </div>
                                    <div class="departure-info">
                                        <div class="day">Monday</div>
                                        <div class="time">11:30</div>
                                        <div class="airport-code">SGN</div>
                                    </div>
                                </div>
                                <div class="vertical-dashed-seperator"></div>
                                <div
                                    class="book-info d-flex flex-column align-items-center justify-content-center"
                                >
                                    <div class="price-info">
                                        <span class="price">3.999.000 VND</span>
                                        <span class="text-secondary fs-4">
                                            / pax</span
                                        >
                                    </div>
                                    <button class="btn btn-primary w-100">
                                        Book
                                    </button>
                                </div>
                            </div>
                            <div class="flight-detail-container collapse">
                                <div class="flight-detail">
                                    <div
                                        class="d-flex flex-column justify-content-between align-items-end"
                                    >
                                        <div>
                                            <div class="time">09:30</div>
                                            <div class="date">24 Sep</div>
                                        </div>
                                        <div class="duration">2h 30m</div>
                                        <div>
                                            <div class="time">09:30</div>
                                            <div class="date">24 Sep</div>
                                        </div>
                                    </div>
                                    <div class="vertical-dashed-seperator mx-4">
                                        <i
                                            class="text-primary fa-regular fa-circle"
                                            style="background-color: #f2f7ff"
                                        ></i>
                                        <i
                                            class="text-primary fa-solid fa-circle mt-auto"
                                        ></i>
                                    </div>
                                    <div
                                        class="d-flex flex-column justify-content-between"
                                    >
                                        <div>
                                            <div class="text-large fw-bold">
                                                Ho Chi Minh City (SGN)
                                            </div>
                                            <div
                                                class="text-small text-secondary"
                                            >
                                                Tan Son Nhat Airport
                                            </div>
                                        </div>
                                        <div class="my-4">
                                            <div class="text-large fw-bold">
                                                Vietnam Airlines
                                            </div>
                                            <div class="text-large fw-bold">
                                                VN6420 • Economy
                                            </div>
                                            <div
                                                class="text-small text-secondary"
                                            >
                                                Baggage 23kg
                                            </div>
                                            <div
                                                class="text-small text-secondary"
                                            >
                                                Cabin baggage 1 x 7kg
                                            </div>
                                        </div>
                                        <div>
                                            <div class="text-large fw-bold">
                                                Ha Noi (HAN)
                                            </div>
                                            <div
                                                class="text-small text-secondary"
                                            >
                                                Noi Bai Airport
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="flight-container">
                            <div class="flight-info-container">
                                <div class="airline-logo">
                                    <img src="images/vietjet-logo.png" alt="" />
                                    <div class="airline-name">Vietjet Air</div>
                                </div>
                                <div class="vertical-seperator"></div>
                                <div class="flight-info">
                                    <div class="departure-info">
                                        <div class="day">Monday</div>
                                        <div class="time">09:30</div>
                                        <div class="airport-code">SGN</div>
                                    </div>
                                    <div class="duration-info mx-lg-4">
                                        <div class="duration">2h 30m</div>
                                        <div class="d-flex align-items-center">
                                            <i
                                                class="text-primary fa-regular fa-circle"
                                            ></i>
                                            <div
                                                class="horizontal-dashed-seperator"
                                            ></div>
                                            <i
                                                class="text-primary fa-solid fa-circle"
                                            ></i>
                                        </div>
                                        <a
                                            class="link-underline link-underline-opacity-0 link-primary"
                                            >Details
                                            <i
                                                class="fa-solid fa-chevron-down"
                                            ></i
                                        ></a>
                                    </div>
                                    <div class="departure-info">
                                        <div class="day">Monday</div>
                                        <div class="time">11:30</div>
                                        <div class="airport-code">SGN</div>
                                    </div>
                                </div>
                                <div class="vertical-dashed-seperator"></div>
                                <div
                                    class="book-info d-flex flex-column align-items-center justify-content-center"
                                >
                                    <div class="price-info">
                                        <span class="price">3.999.000 VND</span>
                                        <span class="text-secondary fs-4">
                                            / pax</span
                                        >
                                    </div>
                                    <button class="btn btn-primary w-100">
                                        Book
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <script src="js/search-bar.js"></script>
        <script src="js/flights.js"></script>
    </body>
</html>
