<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/indexStyle.css">
    <title>Free Flight</title>
</head>
<body>
    <!-- Header -->
    <div id="header">
        <div class="logo-container">
            <div class="logo-text">FreeFlight</div>
            <div class="logo-circle"></div>
        </div>
        <div class="header-item-container">
            <div class="header-item">
                <div class="header-item-text">Flights</div>
            </div>
            <div class="header-item">
                <div class="header-item-text">Hotels</div>
            </div>
            <div class="header-item">
                <div class="header-item-text">Packages</div>
            </div>
            <div class="header-item">
                <div class="header-item-text">Sign in</div>
            </div>
            <div class="header-item prominent">
                <div class="header-item-text prominent-text">Sign up</div>
            </div>
        </div>
    </div>
    <!--end Header-->


<!--    background-->
    <div class="background">
        <div class="background-img-wrapper">
            <img class="background-img" src="/images/WorldMap.png" />
        </div>
    </div>
    <div class="background-text">More than <br/>just a flight</div>
<!--    end background-->

        <!--    search bar-->
        <form>
            <div class="search-bar">
                <div class="search-bar-item-wrap">
                    <div class="search-bar-item">
                        <div class="search-bar-icon-wrap">
                            <img class="search-bar-icon" src="/images/icons/departure.png" />
                        </div>
                        <input class="search-bar-input" type="text" name="depart_location" id="depart_location" placeholder="From where?">
                    </div>
                </div>

                <div class="vertical-divider"></div>

                <div class="search-bar-item-wrap ">
                    <div class="search-bar-item">
                        <div class="search-bar-icon-wrap">
                            <img class="search-bar-icon" src="/images/icons/arrival.png" />
                        </div>
                        <input class="search-bar-input" type="text" name="arrive_location" id="arrive_location" placeholder="Where to?">
                    </div>
                </div>

                <div class="vertical-divider"></div>

                <div class="search-bar-item-wrap date ">
                    <div class="search-bar-item">
                        <div class="search-bar-icon-wrap">
                            <img class="search-bar-icon" src="/images/icons/calendar.png" />
                        </div>
                        <input class="search-bar-input date-input" type="text" name="depart_date" id="depart_date" placeholder="Depart date">
                    </div>
                </div>

                <div class="vertical-divider"></div>

                <div class="search-bar-item-wrap date">
                    <div class="search-bar-item">
                        <div class="search-bar-icon-wrap">
                            <img class="search-bar-icon" src="/images/icons/calendar.png" />
                        </div>
                        <input class="search-bar-input date-input" type="text" name="return_date" id="return_date" placeholder="Return date">
                    </div>
                </div>

                <div class="vertical-divider"></div>

                <div class="search-bar-item-wrap">
                    <div class="search-bar-item">
                        <div class="search-bar-icon-wrap">
                            <img class="search-bar-icon" src="/images/icons/personSolid.png" />
                        </div>
                        <input class="search-bar-input " type="text" name="passenger_number" id="passenger_number" placeholder="1 Adult">
                    </div>
                </div>

                <button type="submit" class="search-bar-submit-button">
                    <span class="search-bar-submit-button-text">Search</span>
                </button>

            </div>
        </form>

</body>
</html>