<div th:fragment="header" >
    
        <!-- Sidebar -->
        <ul style="height: 100%" class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/Admin/airport">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">FreeFlight Admin </div>
            </a>
            
            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->

            <li class="nav-item active">
                <a class="nav-link" href="/Admin/flight">
                    <i class="fa-solid fa-plane-departure"></i>
                    <span>Flight</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/Admin/flightPlane">
                    <i class="fa-solid fa-chart-line"></i>
                    <span>Flight Detail</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/Admin/plane">
                    <i class="fa-solid fa-plane"></i>
                    <span>Plane</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/Admin/airport">
                    <i class="fa-solid fa-square-parking"></i>
                    <span>Airport</span></a>
            </li>
            <hr class="sidebar-divider">
            <li class="nav-item active">
                <a class="nav-link" href="/Admin/reservation">
                        <i class="fa-solid fa-address-card"></i>
                    <span>Reservation</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/Admin/ticket">
                    <i class="fa-solid fa-ticket"></i>
                    <span>Ticket</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/Admin/passenger">
                    <i class="fa-solid fa-users"></i>
                    <span>Passenger</span></a>
            </li>


<!--            <li class="nav-item active">-->
<!--                <a class="nav-link" href="Admin/promotion">-->
<!--                    <i class="fa-solid fa-rectangle-ad"></i>-->
<!--                    <span>Promotion</span></a>-->
<!--            </li>-->

            <!-- Divider -->
            <hr class="sidebar-divider">




        </ul>
</div>