<div th:fragment="header">
    <nav
            class="navbar navbar-expand-lg navbar-light bg-light-subtle px-3"
    >
        <!-- Container wrapper -->
        <div class="container-fluid">
            <!-- Navbar brand -->
            <a class="navbar-brand text-primary fw-bold font-inter" href="/"
            ><i class="fa-solid fa-circle"></i> FreeFlight
            </a>
            <!-- Collapsible wrapper -->
            <div
                    class="collapse navbar-collapse"
                    id="navbarSupportedContent"
            >
                <ul
                        class="navbar-nav ms-auto mb-2 mb-lg-0 font-nunito d-flex align-items-center"
                >
                    <!-- Link -->
                    <li class="nav-item">
                        <a class="nav-link text-secondary ms-3" href="/"
                        >Flights</a
                        >
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/login}" class="nav-link text-secondary ms-3" href="/"
                        >Log in</a
                        >
                    </li>
                    <li class="nav-item">
                        <a  th:href="@{/register}"
                                class="nav-link btn btn-primary text-light px-3 py-2 ms-3"
                                href="/"
                        >Sign up</a
                        >
                    </li>
                </ul>
            </div>
        </div>
        <!-- Container wrapper -->
    </nav>
</div>