.item-container {
    border-radius: 12px;
    border: solid 1px #CBD4E6;
    background-color: white;
    padding: 16px;
}

.flight-chosen {
    padding: 12px;
}

.flight-chosen .logo {
    width: 44px;
    height: 44px;
    border: solid 1px #7C8DB0;
    border-radius: 2px;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flight-chosen .logo img{
    width: 100%;
    max-height: 100%;
}


.icon {
    display: flex;
    align-items: center;
}

.breadcrumb-item.active {
    color: #605DEC;
}

.breadcrumb-item {
    color: #7C8DB0;
}

