.sidebar-item {
    background-color: white;
    border-radius: 12px;
    border: solid 1px #CBD4E6;
}

hr {
    background-color: #CBD4E6;
    margin: 0;
}

.sidebar .item-title {
    font-weight: bold;
    padding: 8px 16px;
    font-size: larger;
}

.icon {
    display: flex;
    align-items: center;
}

.sidebar .flight-item {
    padding: 8px;
}

.sidebar .flight-item:hover {
    cursor: pointer;
}


.sidebar .flight-item.selected {
    border-left: solid 4px #605DEC;
}

.flight-info-container {
    border-radius: 12px;
    border: solid 1px #CBD4E6;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    padding: 16px;
    height: 140px;
}

.flight-detail-container {
    border-radius: 12px;
    border: solid 1px #CBD4E6;
    background-color: #F2F7FF;
    padding: 16px;
}

.flight-detail {
    display: flex;
}

.btn-detail:hover {
    cursor: pointer;
}

.btn-detail.active i {
    transform: scaleY(-1);
}


.airline-name {
    font-weight: bold;
    text-align: center;
}

.airline-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


.departure-info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.flight-info .day {
    color: #7C8DB0;
    font-size: smaller;
}

.flight-info .time {
    font-weight: bold;
    font-size: x-large;
}

.flight-info {
    display: flex;
}

.flight-info .airport-code {
    font-weight: bold;
}

.duration-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.flight-detail .time {
    font-weight: bold;
}

.flight-detail .date {
    color: #7C8DB0;
    font-size: small;
}

.flight-detail .duration {
    color: #7C8DB0;
    font-weight: bold;
}


.vertical-seperator, .vertical-dashed-seperator {
    width: 1px;
    padding: 0 !important;
    border-right: solid 1px #CBD4E6;
}

.vertical-dashed-seperator {
    border-right: dashed 1px #CBD4E6;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.horizontal-dashed-seperator {
    border-bottom: dashed 1px #CBD4E6;
    width: 100px;
    height: 1px;
    display: inline-block;
}

.price {
    font-size: x-large;
    color: #605DEC;
    font-weight: bold;
}

.flight-chosen {
    padding: 12px;
}

.flight-chosen .logo {
    width: 44px;
    height: 44px;
    border: solid 1px #7C8DB0;
    border-radius: 2px;
    padding: 4px;
}

.flight-chosen .logo img{
    width: 100%;
    height: 100%;
}


.btn-toggle {
    padding: 0;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.65);
    background-color: transparent;
    width: 100%;
    display: flex;
    align-items: center;
}

.filter-item {
    padding: 10px 16px;
}

.airline-logo {
    width: 140px;
    height: 100%;
}

.airline-logo img {
    max-width: 100%;
    max-height: 80%;
}



.btn-toggle h5 {
    margin: 0;
}


.btn-toggle:hover,
.btn-toggle:focus {
    color: rgba(0, 0, 0, 0.85);
}

.btn-toggle::after {
    width: 1.25em;
    line-height: 0;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform 0.35s ease;
    transform-origin: 0.5em 50%;
    margin-left: auto;
}

.btn-toggle[aria-expanded="true"] {
    color: rgba(0, 0, 0, 0.85);
}
.btn-toggle[aria-expanded="true"]::after {
    transform: rotate(90deg);
}

.btn-toggle-nav a {
    padding: 0.1875rem 0.5rem;
    margin-top: 0.125rem;
    margin-left: 1.25rem;
}
.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
    background-color: #d2f4ea;
}

